body{
	font-size: 16px;
	font-family: HelveticaNeue-Light;
}
.new-event{
	padding-top: 30px;
}

@media screen and (max-width: 500px){
	.entry-title{
		float: left;
	}

	.entry-request{
		float: right;
		border: none;
	}

	.latlong{
		width: 100%;
	}
}

@media screen and (min-width: 500px){
	.entry-title{
		float: left;
	}

	.entry-request{
		float: right;
		border: none;
		text-align:right;
	}

	.detail-entry{
		width: 85%;
	}
	.entry-request:focus{
		text-align:left;
	}

	.newcol-xs-offset-3 {
	  margin-left: 25%;
	}

	.newcol-xs-3{
		position: relative;
		min-height: 1px;
		padding-right: 0px;
		padding-left: 0px;
		float: left;
		width: 25%;
	}

	.newcol-xs-offset-4 {
	  margin-left: 33.33333333%;
	}

	.newcol-xs-4{
		position: relative;
		min-height: 1px;
		padding-right: 0px;
		padding-left: 0px;
		float: left;
		width: 33.33333333%;
	}

	.newcol-xs-8{
		position: relative;
		min-height: 1px;
		padding-right: 0px;
		padding-left: 0px;
		float: left;
		width: 66.66666667%;
	}
}

.entry-request:focus{
	border:none;
}


#map-canvas{
	position:absolute;
	z-index: -5;
	width: 100%;
	height: 100%;
}

.panel{
	font-family: "Avenir Next";
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
}
.panel-body{
	border-radius: 8px;
	padding:8px;
	border-style: solid;
    border-width: .1px;
    border-color: #CFCFCF;


}
.divider{
	position: relative;
	height: .5px;
	margin-bottom: 0;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	background-color:  #CFCFCF;
}
.panel-body p{
	margin:0;
}
.create-button{
	font-size: 1.7em;
	position:absolute;
	width:100%;
	height:1.8em;
	bottom: 0;
	background-color: rgba(245,166,35,.85);
	border: none;
	color:white;
	font-family: HelveticaNeue-Light;	
	letter-spacing: .2em;
	font-weight: 450;
}

