.event-title-bar{
  background-color: #191970;
}

#container-profile{
	margin:0 auto;
	width:100%;
}

#cover_container
{
	overflow: auto;
	width: 100%;
}

#event-name{
  color: white;
  float: right;
  float: bottom;
}

.event-name-spacing{
  position: relative;
  min-height: 1px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
}

@media screen and (max-width: 500){
  #event-name{
    font-size: 100%;
  }

  .event-name-spacing{
    margin-left: 33.33333333%;    
    width: 66.66666667%;
    /*equivalent to col-xs-offset-4 and col-xs-8*/
  }
}

@media screen and (min-width: 500){
  #event-name{
    font-size: 100px;
  }

  .event-name-spacing{
    margin-left: 8.33333333%;
    width: 83.33333333%;
    /*equivalent to col-xs-offset-1 and col-xs-11*/
  }
}



.event-type-bar{
  background-color: #FCFCFC;
}

#info_box{
	padding:60px 50px 0px 10px;
	border:solid 1px #dedede;
	width:100%;
	background-color:#fcfcfc;
	margin-top:120px;
}

#info-box{
margin-left:115px;
margin-top: -50px;
position: absolute;
}


#event_img{
background-color: #FFFFFF;
border: 1px solid #DEDEDE;
margin-top: -100px;
position: absolute;
width: 86px;
height: 86px;
float:left;
}

#profile_img{
background-color: #FFFFFF;
border: 1px solid #DEDEDE;
margin-top: -100px;
position: absolute;
width: 86px;
height: 86px;
float:left;
}

.avatar_img
{
	padding:3px;
}

#info-name{
float:left;
overflow:hidden;
word-wrap: break-word;
width:100%;
}

#info-content{
margin-left:170px;
width:290px;
}

#profile-name{
  color: white;
  float: right;
  float: bottom;
}

body{
  margin:0;
  padding:0;
}

.total{
  min-height: 100%;
  position: relative;
}

.event-container{
  padding-bottom: 60px;
}

.checkIn{
  height: 60px;
  position: fixed;
  float: bottom;
  width: 100%;
  background-color: #99FFCC;
  text-transform: uppercase;
  font-color: white;
  font: serif;
  z-index: 100;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0px;
  bottom: 0px;
}

.map{
  width: 100%;
}

.host-info{
  border: 0px;
}