.event-info{
  background-color: white;
}
.panel-text{
  display: inline-block;
}
.event-hostinfo{
  margin-bottom: 0;
  border-bottom: 0;
}
.event-description hr{
  margin-top: .5em;
  margin-bottom: .5em;
}

.event-hostinfo img{
  position: absolute;
  width: .9em
}
.event-hostinfo .panel-text{
  margin-left: 2em;
}
.event-date img{
  position: absolute;
  width: .9em
}
.event-date .panel-text{
   margin-left: 2em;
}
.event-place{
  position: absolute;
  width: 100%;
  bottom: 3em;
}
.event-place img{
  position: absolute;
  width: .9em
}
.event-place .panel-text{
   margin-left: 2em;
}

.learn-more{
  text-align: center;
  color: #F5A623;
  font-size: 1.2em;
}
.remove-button{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 0;
  background-color: rgba(208,2,27,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  letter-spacing: .2em;
  font-weight: 450;
}
.remove-button:focus {
    outline: 0;
}

.map-event{
  position:absolute;
  z-index: -5;
  width: 100%;
  height: 12em;
  bottom: 5em;
}

