body {
	padding:30px 0px 0px 50px;
}

#map-canvas {
	height:200px;
	width:400px;
}

/*body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	color: #ededed;
	font:Arial;
}*/

.white {
	color: #ededed;
}

.full {
  /*background: url(../img/background.jpg) no-repeat center center fixed;*/ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
	font-size: 60px;
}

.welcome {
	font-size: 20px;

}

.welcomeDiv {
	background: rgba(150,150,150,0.2);
	margin-left: 40px;
	padding:10px;
	text-align: center;
}

.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
    padding:5px;
    font-size:16px;
}

.logo {
	margin-top: -14px;
}

#credit {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
}

#credit a {
  color: #fff;
  font-weight: bold;
}

.homePage {
	padding:30px;
	margin-top:40px;
}

.testingArea{
	background-color: #E7E7E7;
	padding:20px;
	margin:10px;
}

.navbar {
  margin-bottom: 10px; }
  /* line 32, ../sass/style.scss */
  .navbar .navbar-inner {
    border-radius: 0px 0px 3px 3px; }

.navbar-default {
    background-color: white;
    border-color: #E7E7E7;
    padding:5px;
    font-size:16px;
}

.logo {
	margin-top: -14px;
}

#credit {
  position: absolute;
  right: 4px;
  bottom: 4px;
  color: #ddd;
}

#credit a {
  color: #fff;
  font-weight: bold;
}

button[type=button] {
    background-color: #E3E1B8; 
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}

button[type=button]:hover{
	background-color: blue;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.profile-example{
  height: 40px;
  width: 40px;
}

#came{
  font-size: 100px;
}

.came2{
  font-size: 50px;
}

p{
  display: inline-block;
}
li{
  list-style-type: none;
  margin: 5px;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #E7E7E7;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}


.mainDiv{
  padding-top: 50px;
  padding-left: 50px;
  margin-left: 50px;
}


#login-buttons{
    margin-top: 15px;
}

/*****************checkin styling***************/
.nearby{

}

#map{
  height:200px!important;
}

.edit-field{
  display: inline-block;
}

/****************splash page****************/


input{
  display: block;
}
#map-canvas{
  height:500px;
}
.signin input{
  display: inline-block;
}
.event-li{
  cursor: pointer;
}

.event-li:hover{
  opacity:.5;
}

.row{
  margin: 10px;
}

.hidden{
  display: none;
}














