body {
	padding:0px 0px 0px 0px;
}

@media screen and (min-width: 500px){
  body{
    padding-top: 30px;
  }
}


button[type=button] {
    background-color: #E3E1B8; 
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}


li{
  list-style-type: none;
}

#map-canvas{
  height:500px;
  width:400px;
}

.event-li{
  cursor: pointer;
}

.event-li:hover{
  opacity:.5;
}

.hidden{
  display: none;
}

.mainDiv{
  /*padding-top: 70px;*/
  /*padding-left: 50px;
  margin-left: 50px;*/
  background-color: #FCFCFC;
}

.navtext{
  font-color: black;
}

@media screen and (max-width: 500px){ 
  .brand{
    position: relative;
    left: -20px;
    top: -14px;
  }
  
  .pushhome{
    padding-top: 60px;
  }
}

@media screen and (min-width: 500px){ 
  .brand{
    position: relative;
    left: -20px;
    top: -16px;
  }

  #login{
    position: relative;
    top: 10px;
  }

  .pushhome{
    padding-top: 40px;
  }
}

/*.fa-map-marker:before {
  content: "\f041";
}
example of pictures as bulletpoints (to be used on homepage event bubbles)

<li><i class="fa-map-marker"></i></li>*/

.development{
  background-color: gray;
}