body {
	padding:30px 0px 0px 50px;
}


button[type=button] {
    background-color: #E3E1B8; 
    padding: 2px 4px;
    font: 13px sans-serif;
    text-decoration: none;
    border: 1px solid #000;
    border-color: #aaa #444 #444 #aaa;
    color: #000
}


li{
  list-style-type: none;
}

#map-canvas{
  height:500px;
  width:400px;
}

.event-li{
  cursor: pointer;
}

.event-li:hover{
  opacity:.5;
}

.hidden{
  display: none;
}

.mainDiv{
  /*padding-top: 70px;*/
  /*padding-left: 50px;
  margin-left: 50px;*/
  background-color: #FCFCFC;
}