.edit{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 3.5em;
  background-color: rgba(208,2,27,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  letter-spacing: .2em;
  font-weight: 450;
}
.edit{
    outline: 0;
}

.info-list{
  margin-top: 2px;
  margin-bottom: 2px;
}

.profile-info-img{
  position: absolute;
  width: .9em
}

.info-panel-text{
  display: inline-block;
  margin-left: 2em;
}