.update-btn{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 3.5em;
  background-color: rgba(208,2,27,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  letter-spacing: .2em;
  font-weight: 450;
}
.edit{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 3.5em;
  background-color: rgba(208,2,27,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  letter-spacing: .2em;
  font-weight: 450;
}
.edit{
  outline: 0;
}
.update-btn{
    outline: 0;
}

.profile-info-img{
  position: absolute;
  width: .9em
}

.info-panel-text{
  margin-left: 2em;
}

.profile-font{
  font: sans-serif;
  font-size: 15px;
}

.profile-font p{
  font: sans-serif;
  font-size: 15px;
}

.profile-font input{
  font: sans-serif;
  font-size: 15px;
}