.update-btn{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 3.5em;
 background-color: rgba(245,166,35,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  font-weight: 450;
}
.update-btn:focus{
  outline:none
}

.edit-btn{
  font-size: 1.7em;
  position:absolute;
  width:90%;
  margin-left: 5%;
  margin-right: 5%;
  height:1.8em;
  bottom: 3.5em;
  background-color: rgba(245,166,35,.85);
  border: none;
  color:white;
  font-family: HelveticaNeue-Light; 
  font-weight: 450;
}
.edit-btn{
  outline: 0;
}

.profile-form .panel{
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.profile-font p{
  font: sans-serif;
  font-size: 15px;
}

.profile-font input{
  font: sans-serif;
  font-size: 15px;
}