
.upcoming-past{
    width:10em;
    position: absolute;
    margin: 0 auto;
    left: 0 ;
    right:0;
    text-align: center;
    color:#00BE3B;
    top: 2.25em;
    border-radius: 2px;
}

.upcoming-past div{
  display: inline-block;
  position: absolute;
  height:1.7em;
  border-style: solid;
  border-width: 1px;
  border-color: #00BE3B;
  width:50%;
   
}
.upcoming-past .past{
    right: 0;
}

.upcoming-past .upcoming{
    left:0;
}
.upcoming-past ul{
  display: inline-block;
  padding: 0;
}
.upcoming-past li{
  margin: 0;
  font-size: 10px;
   vertical-align: middle;
  font-weight: 200;
  line-height: 2em;
}

.underline {
    background-color: #00BE3B;
    color: white!important;
}

.events-container{
  position: absolute;
  width: 100%;
}

.panel-user img{
  margin-bottom: .3em;
  width: .9em
}
.panel-user{
  border-left: solid blue;
  border-left-width: 3px;
  cursor:pointer;
  font-family: "Avenir Next";
  border-radius: 0;
}
.panel-user ul{
  padding-left: 10px;
  margin-bottom: 0;
}
.panel-user .distance{
  float:right
}
.not-hover{
  background-color: #929292
}
