<template name="eventTitle">
	{{#if currentUser}}
	<div class="container mainDiv">
		<h3>Event Details</h3>
		<form class="new-event">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="entry-title">Event Name   </p><input class="entry-request detail-entry" type="text" name="eventName" placeholder="e.g Intro to Economics">
                    <hr style="position:relative; width: 100%">
                    <p class="entry-title">Description   </p>
                    <input class="entry-request detail-entry" type="text" name="description" placeholder="Add more info..">
                </div>
            </div>
            <br>
			<button type="submit" class = "btn btn-lg btn-primary">Next</button>
			<br>
		</form>
	</div>
	{{>checkNavigation}}
	{{else}}
	{{>signin}}
	{{/if}}
</template>

<template name="eventDateAndTime">
	<div class="container mainDiv">
		<h3>Event Date and Time</h3>
		<form class="new-event">
			<div class="panel panel-event panel-default">
                <div class="panel-body">
                   	<p class="entry-title">Date   </p>
                   	<div class="entry-request">
						<input class="newcol-xs-offset-3 newcol-xs-3" size="3" type="text" name="month" placeholder="M">
						<input class="newcol-xs-3" size="3" type="text" name="date" placeholder="D">
						<input class="newcol-xs-3" size="3" type="text" name="year" placeholder="Y">
					</div>
					<hr style="position:relative; width: 100%">

					<p class="entry-title">Start Time   </p>
					<div class="entry-request">
						<input class="newcol-xs-offset-3 newcol-xs-3" size="1" type="text" name="startHour" placeholder="3">
						<input class="newcol-xs-3" size="2" type="text" name="startMinute" placeholder="30">
						<select class="newcol-xs-3" name="startAmpm">
							<option> AM </option>
							<option> PM </option>
						</select>
					</div>
					<hr style="position:relative; width: 100%">

					<p class="entry-title">End Time   </p>
					<div class="entry-request">
						<input class="newcol-xs-offset-3 newcol-xs-3" size="1" type="text" name="endHour" placeholder="3">
						<input class="newcol-xs-3" size="2" type="text" name="endMinute" placeholder="30">
						<select class="newcol-xs-3" name="endAmpm">
							<option> AM </option>
							<option> PM </option>
						</select>
					</div>
                </div>
            </div>
			<br>
			<button type="submit" class = "btn btn-lg btn-primary">Next</button>
		</form>
	</div>
	{{>checkNavigation}}
</template>

<template name="eventLocation">
		<div id="map-canvas" class="map-container"></div>

		<form class="new-event">

			<div class="panel panel-eventLocation panel-default">
                <div class="panel-body building-panel">
                	<p class="entry-title col-xs-6">Building & Room  </p>
                	<input class="entry-request" type="text" style="width: 50%" name="eventPlace" placeholder="e.g (Woolsey Hall)">

				</div>
				<div class="divider"></div>
				<div class="panel-body">
                	<p class="entry-title col-xs-6">Address</p>
                	<input disabled class="entry-request" type="text" style="width: 50%" placeholder={{address}} >
				</div>
			</div>
			
			<div class="development hidden">
				<p>Development only (invisible in shipped version):</p>
                   	<input style="width: 40%" class="latlng" name = "latFld" type="text" id="latFld">
					<input style="width: 40%" class="latlng" name = "lngFld" type="text" id="lngFld">
			</div>
			
			<button type="submit" class = "create-button">CREATE</button>

		</form>
		{{>checkNavigation}}
</template>
