<template name = "events">

		{{#if currentUser}}
		<p class="hidden">{{myLocation}}</p>
	    <div class="upper-bar">
	        <p>My Events</p>
	        
	    </div>
		<div class="events-container">
			<p>My Hosted Events</p>
			{{#each myHostedEvents}}
			<div class="panel panel-user panel-default" style="border-left-color: {{borderColor}}">
	            <div class="panel-body">
	                <li class="event-name">{{name}}</li>
		       		<ul>
		       			{{#if recurring}}
		       				<li><img src="time.png"> &nbsp;&nbsp;Next meeting: {{dateParsed}} (Recurring)</li>
		       			{{else}}
		       				<li><img src="time.png"> &nbsp;&nbsp;{{dateParsed}}</li>
		       			{{/if}}
	       				<li><img src="venue.png"> &nbsp;&nbsp;{{place}}</li>
		       		</ul>
	            </div>
	        </div>
			{{/each}}
			{{#if noHostedEvents}}
				<div class="panel-body">
					<p>You haven't hosted any events. <a href="/createEvent">Create an event.</a></p>
				</div>
			{{/if}}
			<p>Checked In</p>
			{{#each myCheckedInEvents}}
			<div class="panel panel-user panel-default" style="border-left-color: {{borderColor}}">
	            <div class="panel-body">
	                <li class="event-name">{{name}}</li>
		       		<ul>
		       			<li><img src="time.png"> &nbsp;&nbsp;{{dateParsed}}</li>
	       				<li><img src="venue.png"> &nbsp;&nbsp;{{place}}</li>
		       		</ul>
	            </div>
	        </div>
			{{/each}}
			{{#if noCheckedInEvents}}
				<div class="panel-body">
					<p>You haven't checked in at any events. <a href="/">Check in at an event.</a></p>
				</div>
			{{/if}}
       </div>     		


 		{{>checkNavigation}}
 		{{else}}
 			{{>signin}}
 		{{/if}}
 		
</template>


