<!-- View Event Page -->
<template name = "event">
    {{#if currentEvent}}
    <div class="upper-bar">
        <img id= "back" src="back.png">
        <p>{{currentEvent.name}}</p>
        
    </div>
    <br>
    <div class="panel panel-default event-hostinfo">
        <div class="panel-body">
            <img src="man.png"> 
            <div class='panel-text'>
                <p class="main">{{eventHost.name}}</p>
                <p>{{eventHost.organization}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default event-date">
        <div class="panel-body">
            <img src="time.png">
            <div class='panel-text'>
                <p>{{currentEvent.dateParsed}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body event-description">
            {{#if editDescription}}
            <form class="description-form">
                <input class="" type="text" name="eventDescription" placeholder="Event Description" value={{eventDescription}}>
                <button type="submit">Update</button>
            </form>
            {{else}}
                {{currentEvent.description}}
            {{/if}}

            <hr>
            {{#if isHost}}
            <p class="learn-more edit-description">Edit Description</p>
            {{else}}
            <p class="learn-more">Learn More</p>
            {{/if}}
        </div>
    </div>
    <div id="map-canvas" class="map-event map-container"></div>

    <div class="panel panel-default event-place">
        <div class="panel-body">
            <img src="venue.png">
            <div class='panel-text'>
                <p>{{currentEvent.place}}</p>
                <p>{{address}}</p>
            </div>
        </div>
    </div>
    {{#if checkedIn value="checkedIn"}}
        <button  class = "morefacts-btn">More Facts</button>
    {{else}}
        {{#if nearby}}
            <button class = "check-btn">Check In</button>
        {{else}}
        {{/if}}
    {{/if}}

    {{else}}
    <br><br><br>
    <h1>No event</h1>
    {{/if}}

</template>

