<!-- View Event Page -->
<template name = "event">
    <div class="upper-bar">
        <img id="back" src="back.png">
        <img id="more" src="more.png">
        <p>{{currentEvent.name}}</p>
        
    </div>
    <br>
    <div class="panel panel-default event-hostinfo">
        <div class="panel-body">
            <img src="man.png"> 
            <div class='panel-text'>
                <p class="main">{{currentEvent.host_info.name}}</p>
                <p>{{currentEvent.host_info.organization}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default event-date">
        <div class="panel-body">
            <img src="time.png">
            <div class='panel-text'>
                <p>{{currentEvent.dateParsed}}</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body event-description">
                {{currentEvent.description}}
            <hr>
            <p class="learn-more">Learn More</p>
        </div>
    </div>
    <div id="map-canvas" class="map-event map-container"></div>

    <div class="panel panel-default event-place">
        <div class="panel-body">
            <img src="venue.png">
            <div class='panel-text'>
                <p>{{currentEvent.place}}</p>
                 <p>{{address}}</p>
            </div>
        </div>
    </div>
    {{#if checkedin}}
        <button  class = "morefacts-btn">More Facts</button>
    {{else}}
        <button class = "check-btn">Check In</button>
    {{/if}}
</template>

