<head>
	<title>Check</title>
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3IaCGmNfltsyk5fyATz-icw-D5VFhSYw"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="stylesheets/bootstrap.css" rel="stylesheet">
	<link href="stylesheets/main.css" rel="stylesheet">
	<link href="stylesheets/event.css" rel="stylesheet">
	<link href="stylesheets/user.css" rel="stylesheet">
	<link href="stylesheets/createEvent.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand brand" href="/">
					<img class="logo" alt="Brand" src="checklogo.png">
				</a>
				
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="enter event keywords">
					</div>
					<!-- <button type="submit" class="btn btn-default">Submit</button> -->
				</form>
		
				<!-- Login button does not collapse into navbar. Moved up. -->
				<div id="navigation login">
        			<div class="nav navbar-nav navtext">
          				{{> loginButtons}}           				      				
        			</div>      			          			
      			</div>
				<!-- /.navbar-collapse -->
				<div class="navbar-right navbuttons">
	      			{{#if currentUser}}
						<div>
							<p><a href='/profile'>Profile</a></p>
						</div>
						<div>
							<p><a class='signout'>Sign Out</a></p>
						</div>
					{{/if}}
				</div>
			</div>
		</div>
	</nav>
	<div class="container mainDiv">
		<p class="pushhome"><a href='/'><button class='btn'>Home</button></a></p>
	</div>
</body>

