<template name="checkNavigation">
	<div class="navigation-bar">
	<ul>
		<a href="/">
			<li>
				{{#if createEvent}}
					<img src="nearby.png"/>
				{{else}}
					<img src="nearby.png"/>
				{{/if}}
				<p>Nearby</p>
			</li>
		</a>
		
		
		<a href="/events">
			<li>
				{{#if splash}}
					<img src="events.png"/>
				{{else}}
					<img src="events.png"/>
				{{/if}}
				<p>Events</p>

			</li>
		</a>
		
		<a href="/profile">
			<li>
				{{#if profile}}
					<img src="profile_green.png"/>
				{{else}}
					<img src="profile.png"/>
				{{/if}}
				<p>Profile</p>
			</li>
		</a>
		
		
		<a  href="/createEvent">
			<li>
				<img src="more.png"/>
				<p>More</p>
			</li>
		</a>

		<a  class="signout">
			<li>
				<img src="Delete Sign-50.png"/>
				<p>Signout</p>
			</li>
		</a>
		
	</ul>
    </div>
</template>

