<template name="checkNavigation">
	<div class="navigation-bar">
	<ul>
		
		<a href="/createEvent">
			<li>
				<img src="check.png"/>
				<p>Create</p>
			</li>
		</a>
		
		
		<a href="/">
			<li>
				<img src="recent.png"/>
				<p>Recent</p>
			</li>
		</a>
		
					<a href="/">
			<li>
				<img src="switch.png"/>
		</li>	
			</a>
		
		
		<a href="/profile">
			<li>
			<img src="profile.png"/>
				<p>Profile</p>
			</li>
		</a>
		
		
		<a href="/profile">
			<li>
				<img src="more.png"/>
				<p>More</p>
			</li>
		</a>
		
	</ul>
    </div>
</template>

