<template name = "profile">
        {{#if editme}}
   		<div class="upper-bar">
	        <img id="back" src="back.png">
	        <p>My Profile</p>			        
	    </div>
		<form class="profile-form">
			<div class="panel panel-default">
                <div class="panel-body">
		            <div class="info-panel-text profile-font">
						<p class="entry-title">Name   </p>
						<input class="entry-request detail-entry" type="text" name="name" placeholder="Name" value={{name}}>
	        				<hr style="position:relative; width: 100%">
						<p class="entry-title">Gender   </p>
						<input class="entry-request detail-entry" type="text" name="gender" placeholder="Gender" value={{gender}}>
	        				<hr style="position:relative; width: 100%">
						<p style="float:left">Email</p><p style="float:right"> {{email}}</p>
	        				<hr style="position:relative; width: 100%">
						<p class="entry-title">Phone   </p>
						<input class="entry-request detail-entry" type="text" name="phone" placeholder="Phone" value={{phone}}>
	        				<hr style="position:relative; width: 100%">
						<p class="entry-title">Organization   </p>
						<input class="entry-request detail-entry" type="text" name="organization" placeholder="Organization" value={{organization}}>
					</div>
				</div>
			</div>
			<button type="submit" class="update-btn">UPDATE PROFILE</button>
		</form>
		{{else}}
	    <div class="upper-bar">
	        <img id="back" src="back.png">
	        <p>{{name}}</p>			        
	    </div>
		<form class="profile-form">
		    <div class="panel panel-default">
		        <div class="panel-body">
		            <div class="info-panel-text profile-font">
		                <p class="entry-title">Name </p>
		                <p class="entry-request detail-entry">{{name}}</p>
		                <hr style="position:relative; width: 100%">

		                <p class="entry-title">Gender </p>
		                <p class="entry-request detail-entry">{{gender}}</p>
		                <hr style="position:relative; width: 100%">

		                <p class="entry-title">Email </p>
		                <p class="entry-request detail-entry">{{email}}</p>
		                <hr style="position:relative; width: 100%">

		                <p class="entry-title">Phone </p>
		                <p class="entry-request detail-entry">{{phone}}</p>
		                <hr style="position:relative; width: 100%">

		                <p class="entry-title">Organization </p>
		                <p class="entry-request detail-entry">{{organization}}</p>
		            </div>
		        </div>
		    </div>
        </form>	
    	<button  class = "edit-btn">EDIT</button>
		{{/if}}


	{{>checkNavigation}}
</template>
