<template name ="signin">
	<div class="upper-bar">
        <p>Log In</p>
        
    </div>
	<div class="signin-container">
		<form class="login">
			<div class="panel panel-default create-field">
                <div class="panel-body">
                    <input class="entry-request" type="text" name="email" placeholder="Email" size="35">
                    <hr style="width: 100%">
                    <input class="entry-request" type="password" name="password" placeholder="Password">
                </div>
            </div>
			<button type="submit" class = "">Log In</button>
			<br>
		</form>

		<br>
		<p><i>OR</i></p>

		<form class="signin">
			<div class="panel panel-default create-field">
                <div class="panel-body">

                    <input class="entry-request" type="text" name="email" placeholder="Email" size="35">
                    <hr style="width: 100%">

                    <input class="entry-request" type="password" name="password" placeholder="Password">
                </div>
            </div>
			<button type="submit" class = "">Sign Up</button>
		</form>
		{{accounts_error}}

	</div>
</template>