<template name = "splash">
	<div class="container mainDiv">
		{{#if currentUser}}
			<h3>Hello {{currentUser.profile.fullname}}!!</h3>			
			<p><a href="{{pathFor route='eventTitle'}}"><button class='btn'>Create Event</button></a></p>
            {{#if eventYoureAt}}
            	<p>Event You Are Currently At: {{eventYoureAt.name}}</p>
            	<button class='btn'>Check In</button>
            {{/if}}
		{{else}}
			<p>signup</p>
			{{accounts_error}}


					<form class="signin">
						<input type="text" name="email" placeholder="Email">
						<input type="text" name="password" placeholder="Password">
						<button type="submit" class = "btn btn-lg btn-primary">Sign Up</button>
					</form>

			<p>login</p>

						<form class="login">
							<input type="text" name="email" placeholder="Email">
							<input type="text" name="password" placeholder="Password">
							<button type="submit" class = "btn btn-lg btn-primary">Log In</button>
						</form>

		{{/if}}

		<p class="hidden">{{myLocation}}</p>
		
		<div class="row">
			<div class="col-xs-12">

			<p>Ongoing Events in {{myCity}}</p>
				<div>
					{{#each nearbyEvents}}
					<div class="panel panel-default event-panel">
	                    <div class="panel-body">
		                    <div style="float:right">
		                    	<li>{{distance}} miles</li>
		                    </div>
		                    <div class="nearby">	
			                    <b><li class="event-li">{{name}}</li></b>
					       		<ul class="nearby">
							       		<li>{{date}}</li>
					       		</ul>
					       		<hr>
					       		<ul>
				       				<li>Place: {{place}}</li>
				       				<li>Description: {{description}}</li>
				       				<li>Start date: {{startDate}}</li>
				       				<li>End date: {{endDate}}</li>
					       		</ul>
					       	</div>
	                    </div>
	                </div>
					{{/each}}
	            </div>     		
       		</div>
 		</div>
 		<div class="row">
			<div class="col-xs-12">
			<p>All Events (development only, see console for more each event object)</p>
				<div>
					{{#each myevents}}
					<div class="panel panel-default event-panel">
	                    <div class="panel-body">
		                    <div class="nearby">
			                    <b><div class="event-li">{{name}}</div></b>
				       		</div>
	                    </div>
	                </div>
					{{/each}}
	            </div>     		
       		</div>
 		</div>
	</div>
</template>



