<template name="eventDateAndTimeRecurring">
	<p class="hidden">{{myLocation}}</p>
	<div class="upper-bar">
			<a href="/createEvent"><img id="back" src="back.png"/></a>
			<a href="/eventLocation"><img id="next" src="next.png"/></a>
			<p class="page-title" >Date & Time</p>
	</div>
		<form class="new-event">
			<div class="panel panel-event panel-default create-field">
                <div class="panel-body">
                   	<p class="entry-title">Start Date</p>
                   	<div class="entry-request">
						<select class="newcol-xs-3 eventOption" value="3" name="startMonth">
							{{#each monthOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select class="newcol-xs-3 eventOption" name="startDate">
							{{#each dayOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select class="newcol-xs-5" name="startYear">
							<option>2015</option>
							<option>2016</option>
							<option>2017</option>
							<option>2018</option>
							<option>2019</option>
						</select>
					</div>
					<hr style="position:relative; width: 100%">
					<p class="entry-title">End Date</p>
                   	<div class="entry-request">
						<select class="newcol-xs-3 eventOption" value="3" name="endMonth">
							{{#each monthOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select class="newcol-xs-3 eventOption" name="endDate">
							{{#each endDayOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select class="newcol-xs-5" name="endYear">
							<option>2015</option>
							<option>2016</option>
							<option>2017</option>
							<option>2018</option>
							<option>2019</option>
						</select>
					</div>
				</div>
			</div>


			<!-- /////////////////////////////////////////////// -->
			<div class="panel panel-event panel-default create-field">
				<div class="panel-body">
				 	{{#each timeParsed}}
				 		<div class="timeslot-row">
							<p class="entry-title">Timeslot {{idPlusOne}}</p>
		                   	<div class="entry-request">
		                   		{{parsed}}
							</div>
						</div>
						<hr style="position:relative; width: 100%">
				 	{{/each}}
					<p class="entry-title add-timeslot">Add Timeslot</p>
					<p class="entry-title remove-timeslot" style="float:right">Remove Timeslot</p>
				</div>				
			</div>
			<!-- /////////////////////////////////////////////// -->



			<div class="panel panel-event panel-default create-field">	 	
				 <div class="panel-body">
				 <p class="entry-title">Timeslot {{activeTimeSlot}}</p>
				 <hr style="position:relative; width: 100%">

				 <p class="entry-title">Start Time</p>
					<div class="entry-request">
						<select class="newcol-xs-3 timeslot" id="dayOfWeek" name="day">
							<option>SUN</option>
							<option>MON</option>
							<option>TUE</option>
							<option>WED</option>
							<option>THU</option>
							<option>FRI</option>
							<option>SAT</option>
						</select>
						<select class="newcol-xs-3 timeslot" id="startHour" name="startHour">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>
						<select class="newcol-xs-4 timeslot" id="startMinute" name="startMinute">
							<option>00</option>
							<option>05</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
						</select>
						<select class="newcol-xs-5 timeslot" id="startAmpm" name="startAmpm">
							<option>AM</option>
							<option selected>PM</option>
						</select>
					</div>
					<hr style="position:relative; width: 100%">
					<p class="entry-title">End Time</p>
					<div class="entry-request">
						<select class="newcol-xs-3 timeslot" id="endHour" name="startHour">
							<option>1</option>
							<option>2</option>
							<option selected>3</option>
							<option>4</option>
							<option>5</option>
							<option>6</option>
							<option>7</option>
							<option>8</option>
							<option>9</option>
							<option>10</option>
							<option>11</option>
							<option>12</option>
						</select>
						<select class="newcol-xs-4 timeslot" id="endMinute" name="endMinute">
							<option>00</option>
							<option>05</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
						</select>
						<select class="newcol-xs-5 timeslot" id="endAmpm" name="endAmpm">
							<option>AM</option>
							<option selected>PM</option>
						</select>
					</div>
				</div>
			</div>


            {{#if recurring}}

            {{/if}}
			<br>
			<button type="submit" class="btn next-button create-field next-button-1st">Next</button>
		</form>
</template>