<template name="eventDateAndTime">
	<p class="hidden">{{myLocation}}</p>
	<div class="upper-bar">
			<img id="back" src="back.png"/>
			<img id="next" src="next.png"/>
			<p class="page-title" >Date & Time</p>
	</div>
		<form class="new-event">
			<div class="panel panel-event panel-default create-field">
                <div class="panel-body">
                   	<p class="entry-title">Date</p>
                   	<div class="entry-request">
						<select id="month" class="newcol-xs-3 eventOption" value="3" name="month">
							{{#each monthOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select class="newcol-xs-3 eventOption" name="date">
							{{#each dayOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}

							{{/each}}
						</select>
						<select id="year" class="newcol-xs-5" name="year">
							<option>2015</option>
							<option>2016</option>
							<option>2017</option>
							<option>2018</option>
							<option>2019</option>
						</select>
					</div>
					<hr style="position:relative; width: 100%">

					<p class="entry-title">Start Time</p>
					<div class="entry-request">
						<select class="newcol-xs-3 eventOption" name="startHour">
							{{#each hourOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}
							{{/each}}
						</select>
						<select class="newcol-xs-4 eventOption" name="startMinute">
							<option>00</option>
							<option>05</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
						</select>
						<select class="newcol-xs-5" name="startAmpm">
							{{#each amOption}}
								{{#if selected}}
									<option selected="selected">{{value}}</option>
								{{else}}
									<option>{{value}}</option>
								{{/if}}
							{{/each}}
						</select>
					</div>
					<hr style="position:relative; width: 100%">
					<p class="entry-title">End Time</p>
					<div class="entry-request">
						<select class="newcol-xs-3 eventOption" name="endHour">
							{{#each endHourOption}}
								{{#if selected}}
									<option selected="selected">{{index}}</option>
								{{else}}
									<option>{{index}}</option>
								{{/if}}
							{{/each}}
						</select>
						<select class="newcol-xs-4 eventOption" name="endMinute">
							<option>00</option>
							<option>05</option>
							<option>10</option>
							<option>15</option>
							<option>20</option>
							<option>25</option>
							<option>30</option>
							<option>35</option>
							<option>40</option>
							<option>45</option>
							<option>50</option>
							<option>55</option>
						</select>
						<select class="newcol-xs-5" name="endAmpm">
							{{#each amOption}}
								{{#if selected}}
									<option selected="selected">{{value}}</option>
								{{else}}
									<option>{{value}}</option>
								{{/if}}
							{{/each}}
						</select>
					</div>
                </div>
            </div>
            {{#if recurring}}
            
            {{/if}}
			<br>
			<button type="submit" class="btn next-button create-field next-button-1st">Next</button>
		</form>
</template>

